html, body{
    position: relative;
    color: rgb(255, 255, 255);
    font-family: museo-slab, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 2;
}

/* Typography */


/* Header content */

.branding{
    margin: auto;
}
#top_branding{
    position: relative;
    padding: 35px 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1150px;
}

a:link {
    text-decoration: none!important;
    background-color: transparent;
    color: black;
}

.social_icons.color>li>.linkedin{
    background-image: url("../images/linkedin.png");
}

.social_icons.color>li>.github{
    background-image: url("../images/black-github-icon.jpg");
}

.social_icons.color>li>.facebook{
    background-image: url("../images/facebook.png");
}

.social_icons.color>li>a{
    border-radius: 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
}

.social_icons>li>a{
    display: block;
    outline: 0;
    text-decoration: none!important;
}

.social_icons>li{
    float: left;
    list-style: none!important;
    margin: 0;
    padding: 0 1px;
}

.social_icons{
    margin: 0;
    padding: 0;
}

.list_unstyled{
    padding-left: 0;
    list-style: none!important;
}

.header_top_nav>li:first-child{
    border-right: 0px none;
    padding-right: 20px;
}

.header_top_nav>li{
    float: right;
    border-color: white;
    height: 24px;
    padding: 0 12px;
}

.header_top_nav{
    margin: 0;
}

.clearfix{
    clear: both;
}
/*Navbar*/

.navbar-collapse {
    justify-content: flex-end;
    background-color: transparent;
   }

.main_background_image {
    background-image: url("../images/main_background.jpg");
    /*background-image: url("../images/main_background_ani.gif");*/
    min-height: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*center text*/
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#dd3535 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #dd3535;
 background:#dd3535;
 color:#fff;
}

#game{
    background-color: rgba(0, 0, 0, 0.932);
}

/*test*/